body {
    font-family: Arial,sans-serif;
}
.body{
     background-color: #f4f4f4;
    margin:0;
    padding:0;
}
.f{

    text-align: center;
}
.q {
 display: flex;
    text-align: center;
}
.label {
    text-align: left;
}
.f {
     border-radius: 5px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.container {
    max-width: 400px;
    margin:auto;
    padding:20px;
    background-color: #fff;
}
.form-group{
    margin-bottom: 15px;
}
label {
    display:block;
    margin-bottom: 5px;
}

input[type="text"],input[type="number"],input[type="password"]{
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"]{
    background-color: blueviolet;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius: 3px;
    cursor:pointer;
}
.center {
    text-align: center;
}
.center input[type="submit"]{
    width: 150px;
    margin: 0 20px 0 0;
    height: 150px;
}
.u input[type="submit"]{
     background-color: green;
}
img {
    max-width: 100%;
    height: auto;
}